body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.beer {
  display: flex;
  justify-content: center;
  border: 1px grey solid;
  border-radius: 10px;
  width: 400px;
  margin: 2rem auto;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
  transition: 0.3s;
}

.beer:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}

.beer-info {
  display: flex;
  flex-direction: column;
  width: 200px;
  justify-content: center;
  margin-right: 2rem;
}

.name {
  font-weight: bold;
}

.ph {
  margin-top: 1rem;
}

.tips {
  margin-top: 1.5rem;
}